<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{curl}}"
      ><i class="fas fa-users-cog mx-2"></i
      ><span class="mx-2">Admin Portal</span></a
    >
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#adminNavbar"
      aria-controls="adminNavbar"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="collapse navbar-collapse d-flex justify-content-end"
      id="adminNavbar"
    >
      <ul class="navbar-nav">
        <li id="home-nav" class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{curl}}">Home</a>
        </li>
        <li id="flat-nav" class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdownFlats"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Flats
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownFlats">
            <li><a class="dropdown-item" href="{{curl}}myadmin/addFlat/">Add Flats</a></li>
            <li><a class="dropdown-item" href="{{curl}}myadmin/manageFlats/">Manage Flats</a></li>
          </ul>
        </li>

        <li id="room-nav" class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdownRoom"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Room
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownRoom">
            <li><a class="dropdown-item" href="{{curl}}myadmin/addRoom/">Add Room</a></li>
            <li><a class="dropdown-item" href="{{curl}}myadmin/manageRoom/">Manage Room</a></li>
          </ul>
        </li>
        <li id="user-nav" class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdownUser"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            User
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownUser">
            <li><a class="dropdown-item" href="{{curl}}myadmin/addUser/">Add User</a></li>
            <li><a class="dropdown-item" href="{{curl}}myadmin/manageUser/">Manage User</a></li>
          </ul>
        </li>
        <li id="history-nav" class="nav-item">
          <a class="nav-link" aria-current="page" href="{{curl}}myadmin/history/">History</a>
        </li>
        <li  id="setting-nav" class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdownSettings"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Settings
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownSettings">
            <li><a class="dropdown-item" href="{{curl}}myadmin/logout/">Logout</a></li>
            <li>
              <a class="dropdown-item" href="manageNotf/"
                >Manage Notifications</a
              >
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
