{% extends 'admin/adminHome.html' %} {% block container %}
<div class=" w-100 px-4 my-5">
<table class="table table-hover history-table ">
  <thead>
    <tr>
      <th>Order id</th>
      <th>Room id</th>
      <th>Userid</th>
      <th>Joining date</th>
      <th>Booking date</th>
      <th>Leaving date</th>
      <th>Transaction Id</th>
    </tr>
  </thead>
  <tbody>
    {% for room in history %}
    <tr>
    {% for detail in room %}
      <td>{{detail}}</td>
    {% endfor %}
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>
<script>
  $(document).ready(()=>{
    $('#history-nav').addClass('activeNav')    
  })
</script>
{% endblock %}
