{% extends 'base.html' %} {% block navbar %} {% if isLogin %} {% include "user/userNavbar.html" %} {% else %} {% include "navbar.html" %} {% endif %} {% endblock %} {% block container %}
<div>
  <div class="display-2 text-center fw-bolder my-5">
    Room Rental System 2021-22
  </div>
  <div
    style="font-weight: 600"
    class="h2 text-primary-light mx-5 text-center px-5"
  >
    The main objective of the Project on Room Rental System is to manage the
    details of User , Rooms and Payments .The purpose of the project is to build
    a website to reduce the manual work for managing the Room services and
    Payments.
  </div>
</div>
<div class="p-5">
  <div class="display-6 my-5 fw-bold">Developer Contact</div>
  <div class="d-flex justify-content-start fw-bold">
    <div class="w-25 p-3 bg-light">
      <p>Himanshu Chaurasiya</p>
      <p><a href="tel:9074493493">+91 9074493493</a></p>
    </div>
    <div class="w-25 p-3 bg-light mx-3">
      <p>Anand Kumawat</p>
      <p><a href="tel:7898882023">+91 7898882023</a></p>
    </div>
  </div>
</div>
<script>
  $(document).ready(() => {
    $("#about-nav").addClass("activeNav");
  });
</script>
{% endblock %}
