{% extends 'base.html' %} 
{% if isLogin %}
  {% block navbar %} {% include "user/userNavbar.html" %} {% endblock %}
{% endif %}
{% block container %}
<div class="row">
  <div class="col-8 mx-auto row">
  {% for flat in flats %}
    <div class="col-4 p-3">
      <div class="h1 border border-primary border-2 rounded text-center p-3">
      {% if isLogin %}

        <a href="{{curl}}myuser/rooms?flatId={{flat.0}}" class="text-decoration-none"
          >{{flat.1}}</a
        >
        {% else %}
                <a href="{{curl}}rooms?flatId={{flat.0}}" class="text-decoration-none"
          >{{flat.1}}</a
        >

        {% endif %}

      </div>
    </div>
  {% endfor %}
  </div>
</div>
{% endblock %}
