{% extends 'base.html' %}
{% block container %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
    .header-img{
        height:"90vh";
        width:"100hw";
        background-image:url('https://img.staticmb.com/mbimages/project/Photo_h310_w462/2020/05/21/Project-Photo-19-Sahu-City-Lucknow-5125909_667_1000_310_462.jpg');
    }
    </style>
</head>
<body>
    <div class="header-img">
        <img class="" src="" />
    </div>
    <h1>hello</h1>
</body>
</html>
{% endblock %}