<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{curl}}"
      ><i class="fas fa-home mx-2"></i><span class="mx-2">Room Rental</span></a
    >
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="collapse navbar-collapse d-flex justify-content-end"
      id="navbarNavDropdown"
    >
      <ul class="navbar-nav">
        <li id="home-nav" class="nav-item">
          <a class="nav-link" aria-current="page" href="{{curl}}"
            >Home</a
          >
        </li>
        <li id="room-nav" class="nav-item">
          <a class="nav-link" href="{{curl}}flatType/">Rooms</a>
        </li>
        <li id="about-nav" class="nav-item">
          <a class="nav-link" href="{{curl}}about/">About</a>
        </li>
        <li id="help-nav" class="nav-item">
          <a class="nav-link" href="{{curl}}help/">Help</a>
        </li>
        <li id="signup-nav" class="nav-item">
          <a class="nav-link" href="{{curl}}signup/">Signup</a>
        </li>
        <li  id="login-nav" class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdownMenuLink"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Login
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="{{curl}}login/ ">User</a></li>
            <li>
              <a class="dropdown-item" href="{{curl}}adminLogin/">Admin</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
