{% extends 'base.html' %}
{% if isLogin %}
  {% block navbar %} {% include "user/userNavbar.html" %} {% endblock %}
{% endif %}

{% block container %}
<style>
  .room-img {
    max-height: 300px;
  }
  .room-main-div:hover {
    box-shadow: 0 0 5px rgb(0, 0, 0);
  }
</style>
<div class="row">
  <div class="col-12 row mt-4">
    <nav
      style="--bs-breadcrumb-divider: '>'"
      aria-label="breadcrumb"
      class="col-10 mx-auto h5"
    >
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="{{curl}}flatType/">Flat Type</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">1 BHK</li>
      </ol>
    </nav>
  </div>
  <div class="col-12 row">
    {% for room in rooms %}
        <div class="
                row
                col-10
                border
                rounded
                room-main-div
                border-dark
                mx-auto
                px-0
                my-2
            ">
            <div class="col-4 px-0">
                <img class="img-fluid w-100 room-img" src="{{media_url}}room.3" />
            </div>
            <div class="col-8 p-3 d-flex flex-column justify-content-between">
                <div>
                    <div class="h4">{{room.5}}</div>
                    <div>{{room.2}}</div>
                </div>
                <div class="text-end d-flex  justify-content-between">
                    <div><span class="align-middle ">&#8377; {{room.4}}</span></div>
                    <div>
                        <a href="{{curl}}myuser/bookRoom?roomId={{room.1}}" class="btn btn-success text-decoration-none"><span class="mx-2">Book</span
                        ><i class="mx-2 fas fa-plus-circle"></i>
                    </a>
                    </div>
                </div>
            </div>
            </div>
    {% endfor %}
  </div>
</div>
<script>
  const bookRoom = (event) => {
    event.preventDefault();
    var formData = new FormData();
    formData.append("email", $("#login-email").val());
    formData.append("password", $("#login-password").val());
    formData.append(
      "csrfmiddlewaretoken",
      $("input[name=csrfmiddlewaretoken]").val()
    );

    fetch("{{curl}}login/", {
      method: "POST",
      body: formData,
      credentials: "same-origin",
    })
      .then((response) => response.json())
      .then((json) => {
        if(json.error){
          $('#toast-body-error').html(json.error)
          $('#error-toast').toast("show")
        }else{
          $('#toast-body-success').html(json.message)
          $("#myToast").toast("show");
          window.location = json.curl+"myuser/"
        }
      })
      .catch((err) => {
        $('#toast-body-error').html(err.message)
        $('#error-toast').toast("show")
      });
  };
  $("#login-form").submit(authUser);
</script>

{% endblock %}
